

<h1 class="mt-5" >Agregar Producto</h1>

<hr>

<form action="" [formGroup]="miFormulario" >

    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label for="nombre" class="col-form-label">Nombre</label>
        </div>

        <div class="col-auto">
            <input type="text" id="nombre" class="form-control"
                    formControlName="nombre">
        </div>

        <div class="col-auto">
            <span   appErrorMsg
                    [mensaje]="texto1"
                    [color]="color"
                    [valido]="!tieneError('nombre')"></span>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end"
                    (click)="cambiarTexto()">
                    Cambiar texto del Error
            </button>
            <button type="submit" class="btn btn-success"
            (click)="cambiarColor()">
                Cambiar color del Error
            </button>
        </div>
    </div>

</form>

<h3 class="mt-5">
    Formulario
</h3>
<pre>Valid: {{ miFormulario.valid }}</pre>
<pre>Value: {{ miFormulario.value | json }}</pre>

